# Configuración de la aplicación
APP_NAME=Dealership API
DEBUG=False
VERSION=1.0.0

MONGODB_URL=mongodb+srv://<user>:<db_password>@app.somehash.mongodb.net/?retryWrites=true&w=majority&appName=Dealersapp
MONGODB_DATABASE=dealership_db

# Configuración de CORS
ALLOWED_HOSTS=["*"]

# Configuración de seguridad
SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion
ACCESS_TOKEN_EXPIRE_MINUTES=30
